BasedOnStyle: LLVM

ColumnLimit: 100
AlignAfterOpenBracket: Align
AllowAllConstructorInitializersOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Inline # doesn't work with Break AfterFunction
AllowShortLambdasOnASingleLine: All
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: true
  AfterControlStatement: MultiLine
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
BinPackArguments: false
BinPackParameters: false
PointerAlignment: Left
Standard: c++20
