Checks: '*,-google-readability-braces-around-statements,-hicpp-*,hicpp-exception-baseclass,hicpp-multiway-paths-covered,hicpp-signed-bitwise,-modernize-use-trailing-return-type,-abseil-,-altera-*,-android-*,-darwin-*,-fuchsia-*,-linuxkernel-*,-llvm-*,-llvmlibc-*,-objc-*,-zircon-*'
FormatStyle: file 
